/*entête de la page*/
header{
	border: 3px solid black;
	background: url("fond_header.jpg") top; /* faut une image qui commence et finit sur le même ton pour que ça fasse raccord */
}
header p{
	color: white;
	text-align: center;
}

/* CSS du menu */
.menu {
  margin-top: 0px;
}
.menu a:link, .menu a:visited { /*les caractéristiques de liens du menu*/ 
  color:#000;
  text-decoration:none;
  float:left;
  height:3.5em;
  overflow:hidden;
  width:25%; /* espace les boutons par rapport à la taille de l'écran */
}

.menu span {
  background:lightgrey;
  display:inline-block;
  line-height:3em;
  padding:0 50%; /*taille des boutons adaptive*/
  margin-top:0.2em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}
.menu a:hover span { /*ce que le menu fait lors du passage de la sourie au dessus des zones du menu*/
  background:lightblue;
  margin-top:0;

}
/* fin CSS du menu */

/*les images des robots*/
.robot img{
	width: 90px;
	height: 100px;
}
.IUT{
	width:350px;
	padding : 1%;
	border: 3px;
}
.IUT img{
	width: 350px;
	height: 125px;
}
body {
	background-color : #9A9A9A;
}
/* corps central de la page*/
article{
	display: inline-block;
	border: 3px solid grey;
	width: 55%;
	height:100%;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	background-color: #979BD5;
}
aside ul{
	list-style:none;
}
aside {
	float: right;
}
aside div {
	margin-top:3px;
	border: 3px solid grey;
	border-radius: 10px;
	width: 40%;
	height :100%;
	margin bottom: 1px;
	

}
aside
{
	display : inline-block;
	width: 35%;
	height :100%;
	background-color: #8088F6;
	padding: 2px;
	border-radius: 5px;
}

 /* bas de la page */
footer {
		margin-top: 5px;
		background-color: rgb(20,70,210);
		border: 3px solid grey;
}
footer p{
	text-align: center;
	padding-top: 5px;
	margin: 0 15px;
}

footer ul li {
	display: inline;
	padding: 0 25px;
}